* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: poppins, sans-serif;
    background-color: #56aeff;
    height: 100vh;
  }
  
  .Barra {
    background-color: #00f;
    color: white;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
  }
  
  .content {
    display: flex;
    height: calc(100vh - 70px); 
  }
  
  .section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .divider {
    width: 2px;
    background-color: #00f;
  }
  
  .option-button {
    background-color: #00f;
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  